NODE_ENV=development
PORT=3000
REDIS_URL=redis://localhost:6379
CLINICORP_API_BASE=https://sistema.clinicorp.com
CLINICORP_API_USER=
CLINICORP_API_TOKEN=
CLINICORP_SUBSCRIBER_ID=oralmultiedentalbeauty
CLINICORP_BUSINESS_ID=6247357829611520
CLINICORP_ACCESS_CODE=
CHATBOTIFY_API_BASE=
CHATBOTIFY_API_TOKEN=
